<div class="box">
  <div class="small-12 columns max-width text-center stats-box">
    <div class="row">
      <h3><%= currentUser.name %>'s Stats</h3>
      <small><a href="/auth/logout">Logout</a></small>
    </div>

    <div class="row extra-space">
      <div>Uploaded: <i class="blue"><%= (currentUser.uploaded/1014/1024).toFixed(2) %>MB</i></div>
      <div>Downloaded: <i class="blue"><%= (currentUser.downloaded/1024/1024).toFixed(2) %>MB</i></div>
      <div>
        Share Ratio:<i class="blue">
        <%= (currentUser.uploaded/currentUser.downloaded) > 1000 ? '∞' : (currentUser.uploaded/currentUser.downloaded).toFixed(2) %></i>
      </div>
      <div>Created: <i class="blue"><%= currentUser.created %> Links</i></div>
      <div>Links Opened: <i class="blue"><%= linksClicked %></i></div>
    </div>

    <div class="row extra-space">
        <div class="large-12 columns">
          <label>My Links
            <select class="mylinks width25p">
              <% ownedLinks.forEach(function(link) { %>
                  <option value="<%= link.id %>"><%= link.id %></option>
              <% }) %>
            </select>
            <i class="button prof-open button-margin">Open</i>
            <i class="button prof-delete alert button-margin">Delete</i>
          </label>
        </div>
      </div>
  </div>


</div>
